$lightBlue: rgba(0, 0, 255, 0.6);
$hover-lightBlue: rgba(0, 0, 197, 0.6);

* {
    margin: 0;
    padding: 0;
}

body {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

#root {
    position: relative;
    height: 100%;
    overflow: auto;
}

form {
    position: relative;
    padding: 10px;

    .form-content {
        position: relative;
        height: 100%;
    }

    #title {
        font-size: 30px;
        display: flex;
        align-content: center;
        margin-bottom: 5px;

        input {
            padding: 0 3px;
            font-size: 25px;
            width: 300px;
        }
    }

    label {
        margin: 5px;
    }

    .check-item {
        margin-left: 12px !important;

        &::before {
            content: "-";
        }
    }

    .sub-item {
        margin-left: 12px !important;
        &::before {
            content: "- -";
        }
    }

    select, input {
        margin: 0 5px;
    }

    fieldset {
        padding: 5px;
        legend {
            font-size: 20px;
            padding: 5px;
        }
    }
    
    .label-input {
        width: 30%;
    }

    #crit-items {
        margin-top: 10px;
        border-color: rgb(220, 120, 120);
    }

    .list-item {
        margin: 5px 0;
    }

    #submit-next {
        position: absolute;
        margin: 0 !important;
        bottom: 15px;
        right: 10px;
    }
}

button {
    height: 35px;
    border: none;
    font-size: 15px;
    color: white;
    background-color: $lightBlue;
    margin: 10px 10px 0 0;
    padding: 0 15px;

    &:hover {
        cursor: pointer;
        background-color: $hover-lightBlue;
    }
}
