$lightBlue: rgba(0, 0, 255, 0.6);

body {
    overflow: hidden;
}

.App{
    margin: 10px;
}

label {
    margin: 5px;
}

select, input {
    margin: 0 5px;
}

.label-input {
    width: 30%;
}

button {
    width: 35px;
    height: 35px;
    border: none;
    font-size: 20px;
    color: white;
    background-color: $lightBlue;
    margin: 10px 0;

    &:hover {
        cursor: pointer;
    }
}
